<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../ball.jpg">
    <script language="javascript" type="text/javascript" src="../scripts/workout-handling.js"></script>
    <link rel="stylesheet" href="../styles/addworkoutstyle.css">
    <title>Corona Motivator</title>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1><span class="red_psv">PSV</span> Corona Motivator</h1>        
      </div>
      
     <div class="navigation">
      <div class="list-points"><img src="../best-seller.svg" height="20%" width="10%"><a href="../../index.html">Ranking</a></div><br>
      <div class="list-points"><img src="../add.svg" height="20%" width="10%"><a href="../views/addWorkout.html">Hinzufügen</a></div><br>
      <div class="list-points"><img src="../liste.svg" height="20%" width="10%"><a href="../views/allWorkouts.html">Aktivitäten</a></div><br>
     </div>
          
    <div class="input_section">
      <form>
        <h2 class="addActiv_heading">Füge eine neue Aktivität hinzu</h2>
        <label for="user" >Username:
          <input type="text" name="user" id="user" value="Max Mustermann">
        </label>
        <br>
        <label for="distance">Distanz in KM:
          <input id="distance" type="number" step="0.01" min="0"  value="10.00">       
        </label>
        <br>
        <label for="duration">Dauer(hh:mm:ss):
          <input  id="duration" value="01:00:00">    
        </label>
        <br>
        <button class="submit_addactivity" type="submit" onclick="addWorkout()">Absenden</button>
      </form>
      
      </div>

      
    </div>
  </body>
</html>
