<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../ball.jpg">
    <script language="javascript" type="text/javascript" src="../scripts/workout-handling.js"></script>
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="../styles/addworkoutstyle.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="../styles/smallscreenAdd.css">

    <title>Lauf Motivator</title>
  </head>
  <body>
    <div class="container">
      
      <div class="heading">
        <h1><span class="red_psv">PSV</span> Lauf Motivator</h1>        
      </div>
      
     <div class="navigation">
       <ul>
         <li class="topnav"> <a href="../../index.html">Ranking</a></li>
         <li class="topnav"> <a href="../views/addWorkout.html">Hinzufügen</a></li>
         <li class="topnav"> <a href="../views/allWorkouts.html">Aktivitäten</a></li>
       </ul>
     </div>
          
    <div class="input_section">
      <h2 class="addActiv_heading">Füge eine neue Aktivität hinzu</h2>
      <form>
        <label for="user" >Username:
          <input class="input_user" type="text" name="user" id="user" value="Max Mustermann">
        </label>
        <br>
        <label for="distance">Distanz in KM:
          <input class="input_distance" id="distance" type="number" step="0.01" min="0"  value="10.00">       
        </label>
        <br>
        <label for="duration">Dauer(hh:mm:ss):
          <input class="input_duration" type="text" id="duration" value="01:00:00">    
        </label>
        <br>
        <button class="submit_addactivity" type="submit" onclick="addWorkout()">Absenden</button>
      </form>
   </div>

   </div>
  </body>
</html>
