.container{
    display: grid;
    grid-template-rows:100px 1fr;
    grid-template-columns: 10% 90%; 
    column-gap: 50px ;
}

.navigation{
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
}

.heading{
    background-color: darkblue;
    grid-column:1 / 3; 
    grid-row:1;
}
h1{
    
    font-weight: bold;
    color: white;
    text-align: center;
}

h2{
    color: rgba(240, 83, 83);
}

.red_psv{
    color: rgba(240, 83, 83);
}

.value{
    color: rgba(240, 83, 83);
}


.allworkouts{
    grid-column: 2;
    grid-row: 2;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.workoutCard{
    height: 20%;
    width: 30%;
    background-color: white;  
    border: solid darkblue 2px;
    padding-left: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    margin-left: 30%;
}
.allworkoutsHeading{
    margin-left: 40%;
}
.username{
    color: rgba(240, 83, 83);
        font-weight: bolder;
}
.distance{
    color: darkblue;;
    font-weight: bold;
    padding-left: 18px;
}

.platzierung{
    color: darkblue;
        font-weight: bold;
}
